<div class= "form-group" >
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name, autofocus: true, placeholder: 'Add name to list', input_html: { class: 'form-control' } %>
    <%= f.submit class: 'btn btn-primary' %>

  <% end %>
</div>
