<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(<%= image_path 'banner.jpg' %>)">
  <div class="container">
    <h1 class="banner-title">My Movies List</h1>
    <p class="banner-description">This is a list of all the movies I have seen</p>
  </div>
</div>
